# Финальное задание модуля PYTHON-10 #

Проанализировать данные о результатах экзаменов по математике, чтению и письму среди студентов некоторого учебного заведения.

Задачи такого плана очень часто встречаются на технических собеседованиях, где проверяют навыки владения библиотекой Pandas.

Датасет скачан и сохранён в файле `data/students_performance.csv`.

Необходимо прочитать эти данные в DataFrame с именем `student_data` и ответить на вопросы заданий 9.1-12.

In [2]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv')
display(student_data)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [6]:
display(student_data.columns)

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [12]:
display(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

None

----

### Задание 9.1 ###

Данные о скольких студентах содержатся в таблице?

In [13]:
student_data.shape[0]

1000

----

### Задание 9.2 ###

Каков балл по письму у студента под индексом 155?

In [14]:
student_data.iloc[155]['writing score']

88

----

### Задание 9.3 ###

Сколько суммарно пропущенных значений в таблице?

In [21]:
student_data.notnull().value_counts()

gender  race/ethnicity  parental level of education  lunch  test preparation course  math score  reading score  writing score
True    True            True                         True   True                     True        True           True             1000
dtype: int64

**Ответ - 0**

----

### Задание 9.4 ###

Сколько столбцов в таблице имеет тип данных object?

In [25]:
student_data.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

----

### Задание 9.5 ###

Какой объём памяти (в килобайтах) занимает таблица?

(Округлить ответ до целого числа)

In [35]:
display(student_data.info())
student_data.memory_usage(deep=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

None

Index                            128
gender                         62036
race/ethnicity                 64000
parental level of education    71619
lunch                          66420
test preparation course        62790
math score                      8000
reading score                   8000
writing score                   8000
dtype: int64

**Ответ - 63**

----

### Задание 9.6 ###

Каков у студентов средний балл по математике?

(Округлить ответ до целого числа)

In [78]:
print(round(student_data['math score'].mean()))

66

----

### Задание 9.7 ###

Какая расовая группа является самой крупной в учебном заведении?

(В качестве ответа ввести идентификатор группы (A, B, C, D, F))

In [79]:
student_data['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [80]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

**Ответ - C**

----

### Задание 9.8 ###

Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

(Округлить ответ до целого числа)

In [42]:
student_data['test preparation course'].value_counts()

none         642
completed    358
Name: test preparation course, dtype: int64

In [81]:
print(round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()))

74

----

### Задание 9.9 ### 

Сколько студентов получили 0 баллов по математике?

In [82]:
student_data['math score'].min()

0

In [83]:
student_data['math score'].describe()

count    1000.00000
mean       66.08900
std        15.16308
min         0.00000
25%        57.00000
50%        66.00000
75%        77.00000
max       100.00000
Name: math score, dtype: float64

In [57]:
len(student_data[student_data['math score'] == 0])

1

**Ответ - 1**

----

### Задание 9.10 ###

Проверить гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа написать наибольший средний балл по математике среди этих групп студентов.

(Округлить ответ до целого числа)

In [84]:
student_data['lunch'].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [85]:
print('Средний балл упитанных: ', round(student_data[student_data['lunch'] == 'standard']['math score'].mean()))
print('Средний балл голодных: ', round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()))

Средний балл упитанных:  70
Средний балл голодных:  59

**Ответ - 70**

----

### Задание 9.11 ###

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

(Округлить ответ до целого числа, не указывать знак %)

In [86]:
student_data['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [87]:
my_daddys_cool = len(student_data[student_data['parental level of education'] == "bachelor's degree"])
print(round(my_daddys_cool / len(student_data) * 100))

12

----

### Задание 9.12 ###

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

(Округлить ответ до целого и записать модуль этого числа)

In [88]:
a_median = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
c_mean = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
round(abs(a_median - c_mean))

6