In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/wine.csv')

In [3]:
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 12.9+ MB

None

###  Задание 4.1 ###

Сколько всего дегустаторов приняло участие в винных обзорах?

***Ответ - 19***

In [4]:
display(data['taster_name'].value_counts().shape[0])

19

###  Задание 4.2 ###

Какова максимальная цена за бутылку в этом наборе данных? Ввести целое число.

***Ответ - 3300***

In [5]:
display(int(data['price'].max()))

3300

###  Задание 5.2 ###

Проанализировать представленный датасет и перечислить все числовые признаки через запятую.

***Ответ - points,price***

###  Задание 5.3 ###

Проанализировать датасет на наличие дублирующихся винных обзоров. Если дублирующиеся записи есть, удалить их.
Сколько дублирующихся записей удалось обнаружить?

***Ответ - 9983***

In [13]:
data.duplicated().value_counts()

False    119988
True       9983
dtype: int64

In [15]:
data.drop_duplicates(inplace=True)
display(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119988 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                119929 non-null  object
 1   description            119988 non-null  object
 2   designation            85443 non-null   object
 3   points                 119988 non-null  int64
 4   price                  111593 non-null  float64
 5   province               119929 non-null  object
 6   region_1               100428 non-null  object
 7   region_2               46769 non-null   object
 8   taster_name            95071 non-null   object
 9   taster_twitter_handle  90542 non-null   object
 10  title                  119988 non-null  object
 11  variety                119987 non-null  object
 12  winery                 119988 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 12.8+ MB

None