In [5]:
import os
import time

import numpy as np
import pandas as pd
import torch
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [6]:
train_df = pd.read_csv('data/train_data.csv')
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35000 entries, 0 to 34999
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   row_ID                  35000 non-null  int64
 1   vehicle_manufacturer    34999 non-null  object
 2   vehicle_model           34993 non-null  object
 3   vehicle_category        34999 non-null  object
 4   current_mileage         35000 non-null  int64
 5   vehicle_year            35000 non-null  int64
 6   vehicle_gearbox_type    34999 non-null  object
 7   doors_cnt               34255 non-null  object
 8   wheels                  34999 non-null  object
 9   vehicle_color           34599 non-null  object
 10  vehicle_interior_color  28282 non-null  object
 11  car_vin                 11488 non-null  object
 12  car_leather_interior    35000 non-null  int64
 13  deal_type               35000 non-null  object
 14  final_price             35000 non-null  float64
dtypes: float64(1), int64(4), object(10)
memory usage: 4.0+ MB

In [7]:
display(train_df)

,row_ID,vehicle_manufacturer,vehicle_model,vehicle_category,current_mileage,vehicle_year,vehicle_gearbox_type,doors_cnt,wheels,vehicle_color,vehicle_interior_color,car_vin,car_leather_interior,deal_type,final_price
0,0,TOYOTA,Aqua s,Sedan,133000,2014,Automatic,4/5,Right-hand drive,Silver,Black,NaN,0,For Sale,3650.0
1,1,MERCEDES-BENZ,C 220,Sedan,24500,2010,Manual,4/5,Left wheel,Silver,Black,NaN,0,For Sale,6800.0
2,2,HYUNDAI,Veloster,Hatchback,31000,2016,Tiptronic,2/3,Left wheel,Silver,Black,KMHTC6AE3GU293912,1,For Sale,6300.0
3,3,HYUNDAI,Santa FE,Jeep,115459,2015,Automatic,4/5,Left wheel,Blue,Black,NaN,1,For Sale,14488.0
4,4,TOYOTA,CHR,Jeep,18950,2019,Automatic,4/5,Left wheel,Black,NaN,JTNKHMBX7K1030253,1,For Sale,5000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34995,34995,FORD,Fusion,Sedan,87579,2013,Automatic,4/5,Left wheel,Black,NaN,3FA6P0K98DR308742,1,For Sale,6000.0
34996,34996,SSANGYONG,REXTON,Jeep,116092,2009,Automatic,4/5,Left wheel,Silver,Black,NaN,1,For Sale,9642.0
34997,34997,BMW,635,Sedan,43000,2015,Tiptronic,4/5,Left wheel,Grey,Grey,NaN,1,For Sale,23500.0
34998,34998,HYUNDAI,Tucson,Jeep,82139,2015,Automatic,4/5,Left wheel,White,Black,NaN,1,For Sale,12826.0
34999,34999,TOYOTA,Avalon,Sedan,237178,2015,Automatic,4/5,Left wheel,Blue,Black,NaN,1,For Sale,1050.0

In [8]:
test_df = pd.read_csv('data/test_data.csv')
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10697 entries, 0 to 10696
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   row_ID                  10697 non-null  int64
 1   vehicle_manufacturer    10696 non-null  object
 2   vehicle_model           10695 non-null  object
 3   vehicle_category        10696 non-null  object
 4   current_mileage         10697 non-null  int64
 5   vehicle_year            10697 non-null  int64
 6   vehicle_gearbox_type    10696 non-null  object
 7   doors_cnt               10474 non-null  object
 8   wheels                  10696 non-null  object
 9   vehicle_color           10563 non-null  object
 10  vehicle_interior_color  8619 non-null   object
 11  car_vin                 3566 non-null   object
 12  car_leather_interior    10697 non-null  int64
 13  deal_type               10697 non-null  object
dtypes: int64(4), object(10)
memory usage: 1.1+ MB

In [9]:
display(test_df)

,row_ID,vehicle_manufacturer,vehicle_model,vehicle_category,current_mileage,vehicle_year,vehicle_gearbox_type,doors_cnt,wheels,vehicle_color,vehicle_interior_color,car_vin,car_leather_interior,deal_type
0,35000,TOYOTA,Prius,Hatchback,323733,2012,Automatic,4/5,Left wheel,Grey,Black,JTDKN3DU6C5439638,1,For Sale
1,35001,HYUNDAI,Elantra,Sedan,112000,2013,Tiptronic,4/5,Left wheel,Grey,Black,SURATSHIA,1,For Sale
2,35002,LEXUS,NX 300,Jeep,16920,2018,Automatic,NaN,Left wheel,Brown,NaN,JTJYARBZ5J2104521,1,For Sale
3,35003,LEXUS,CT 200h,Hatchback,302742,2012,Automatic,4/5,Left wheel,White,NaN,JTHKD5BH4C2070945,1,For Sale
4,35004,TOYOTA,RAV 4,Jeep,1800,2002,Manual,4/5,Left wheel,Silver,Black,NaN,0,For Sale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10692,45692,INFINITI,EX30,Jeep,319650,2010,Automatic,NaN,Left wheel,Blue,NaN,JN1AJ0HR9AM751454,1,For Sale
10693,45693,MERCEDES-BENZ,E 350,Sedan,107800,2013,Automatic,4/5,Left wheel,Grey,NaN,WDDHF5KB8DA732315,1,For Sale
10694,45694,LAND ROVER,Land Rover Sport,Jeep,150000,2011,Tiptronic,4/5,Left wheel,Black,Beige,NaN,1,For Sale
10695,45695,TOYOTA,Prius,Hatchback,150000,2010,Variator,4/5,Left wheel,Silver,White,NaN,0,For Sale
10696,45696,HYUNDAI,Tucson,Jeep,173595,2011,Automatic,4/5,Left wheel,Blue,Black,NaN,1,For Sale

In [12]:
sample_df = pd.read_csv('data/sample_submission.csv')
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10697 entries, 0 to 10696
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_ID       10697 non-null  int64
 1   final_price  10697 non-null  int64
dtypes: int64(2)
memory usage: 167.3 KB

In [13]:
display(sample_df)

       row_ID  final_price
0       35000            0
1       35001            0
2       35002            0
3       35003            0
4       35004            0
...       ...          ...
10692   45692            0
10693   45693            0
10694   45694            0
10695   45695            0
10696   45696            0

[10697 rows x 2 columns]