In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [2]:
data = pd.read_csv('data/hotels.csv')

In [3]:
data.head(3)

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097
2,151 bis Rue de Rennes 6th arr 75006 Paris France,32,10/18/2016,8.9,Legend Saint Germain by Elegancia,China,No kettle in room,6,406,No Positive,0,14,7.5,"[' Leisure trip ', ' Solo traveler ', ' Modern...",289 day,48.845377,2.325643

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 50.2+ MB

## Грубая очистка ##

In [5]:
data_dig = data.copy()
data_dig.drop(columns=['hotel_address',
                       'review_date',
                       'hotel_name',
                       'reviewer_nationality',
                       'negative_review',
                       'positive_review',
                       'tags',
                       'days_since_review'
                      ], inplace=True)

In [6]:
data_dig.dropna(axis=0, inplace=True)
# data_dig.fillna(value=0, axis=0)

## Разделение набора данных ##

In [7]:
X = data_dig.drop(['reviewer_score'], axis=1)
y = data_dig['reviewer_score']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
print('done')

done

## Создание и обучение модели ##

In [8]:
regr = RandomForestRegressor(n_estimators=100)
regr.fit(X_train, y_train)
y_pred = regr.predict(X_test)
print('done')

done

## Оценка качества модели ##

In [9]:
print('MAPE:', metrics.mean_absolute_percentage_error(y_test, y_pred))

MAPE: 0.14111399816855622

###  Задание 4.2 ###

Сколько уникальных названий отелей представлено в наборе данных?

***Ответ - 1492***

In [11]:
data.hotel_name.nunique()

1492

###  Задание 4.3 ###

Когда был оставлен самый свежий отзыв? Введите ответ в формате yyyy-mm-dd.

***Ответ - 2017-08-03***

Когда был оставлен самый первый отзыв? Введите ответ в формате yyyy-mm-dd.

***Ответ - 2015-08-04***

In [16]:
df_dt = data.copy()
df_dt.review_date = pd.to_datetime(df_dt.review_date)
display(df_dt.review_date.min())
display(df_dt.review_date.max())

Timestamp('2015-08-04 00:00:00')

Timestamp('2017-08-03 00:00:00')

###  Задание 4.4 ###

Сколько уникальных тегов представлено в наборе данных?

***Ответ - 2368***

In [44]:
df_tag = data.copy()
tagset = set()
for str_ in df_tag.tags:
    list_ = str_.lstrip('[').rstrip(']').split(', ')
    for tag_ in list_:
        tagset.add(tag_)
print(len(tagset))

2368