## 1. Введение ##

In [5]:
import pandas as pd
display(pd.__version__)
pd.__name__

'1.4.3'

'pandas'


----

## 2. Pandas.Series

### Задание 2.4 ###

В аптеку поступают партии лекарств. Их названия находятся в списке `names`, количество единиц товара находится в списке `counts`.

***Например:***

```python
names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
```

Написать функцию `create_medications(names, counts)`, создающую Series medications, индексами которого являются названия лекарств `names`, а значениями — их количество в партии `counts`.

Также написать функцию `get_percent(medications, name)`, которая возвращает долю товара с именем `name` от общего количества товаров в партии в процентах.

In [22]:
import pandas as pd

def create_medications(names_, counts_):
    return pd.Series(index=names_, data=counts_, name='medications')

def get_percent(medications_, name):
    return medications_[name] / sum(list(medications_)) * 100

# meds = create_medications(names, counts)
# get_percent(meds, 'chlorhexidine')

if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine")) #37.5

37.5


----

## 3. Pandas.DataFrame ##

In [28]:
countries_df1 = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df2 = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df1)
countries_df1.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df1)
display(countries_df2)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [32]:
display(countries_df1.population)
display(countries_df2['population'])

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [33]:
countries_df1.loc['UK', 'square']

133396

In [34]:
countries_df1.loc['RU', ['population', 'square']]

population      146.24
square        17125191
Name: RU, dtype: object

In [38]:
display(countries_df1.loc[['UA', 'BY', 'KZ'], ['population', 'square']])
display(countries_df1.iloc[4:8, 1:3])

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [40]:
pd.DataFrame([[0, 1], [2, 3]], columns=['A', 'b'])

   A  b
0  0  1
1  2  3

In [41]:
pd.DataFrame({'A': [0, 1], 'b': [2, 3]})

   A  b
0  0  2
1  1  3

### Задание 3.5 ###

Работа аналитика в компании ScienceYou. Задача — проанализировать чистую прибыль.

Доходы (income), расходы (expenses) и годы (years), соответствующие им, предоставлены в виде списков.

***Например:***

```python
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]
```

Создать функцию `create_companyDF(income, expenses, years)`, которая  возвращает **DataFrame**, составленный из входных данных со столбцами **Income** и **Expenses** и индексами, соответствующими годам рассматриваемого периода. Пример такого **DataFrame** представлен ниже.

```text
 	Income 	Expenses
2018 	478 	156
2019 	512 	130
2020 	196 	270
```

Также написать функцию `get_profit(df, year)`, которая возвращает разницу между доходом и расходом, записанными в таблице `df`, за год `year`. Учесть, что если информация за запрашиваемый год не указана в таблице, необходимо вернуть None.

***Подсказка***

Для проверки вхождения запрашиваемого года в перечень индексов таблицы поможет атрибут `df.index`, который возвращает список индексов таблицы.

In [53]:
import pandas as pd

def create_companyDF(income_, expenses_, years_):
    return pd.DataFrame({'Income': income_, 'Expenses': expenses_}, index=years_)

def get_profit(df_, year_):
    if year_ not in df.index:
        return None
    return df_.loc[year_]['Income'] - df_.loc[year_]['Expenses']

if __name__ == '__main__':
    expenses = [156, 130, 270]
    income = [478, 512, 196]
    years = [2018, 2019, 2020]
    
    scienceyou = create_companyDF(income, expenses, years)
    print(get_profit(scienceyou, 2020))

-74


----

## 4. Работа с различными источниками данных в Pandas ##

In [62]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

##### countries_df.to_csv('data/countries.csv', index=False, sep=';', encoding='cp1251')
countries_df.to_csv('data/countries.csv', index=False, sep=';')

countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902


----

## 5. Знакомимся с данными: недвижимость ##

In [74]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
display(melb_data)
display(melb_data.columns)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

Index(['index', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount', 'Coordinates'],
      dtype='object')

### Задание 5.1 ###

Какова цена объекта недвижимости под индексом 15?

In [75]:
melb_data.iloc[15]['Price']

1310000.0

### Задание 5.2 ###

Когда был продан объект под индексом 90?

In [76]:
melb_data.iloc[90]['Date']

'10/09/2016'

### Задание 5.3 ###

Во сколько раз площадь прилегающей территории, на которой находится здание с индексом 3521, больше площади участка, на котором находится здание с индексом 1690? Ответ округлить до целого числа.

In [77]:
melb_data.iloc[3521]['Landsize'] / melb_data.iloc[1690]['Landsize']

2.7857142857142856


----

## 6. Исследование структуры DataFrame ##